<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/bootstrap.min" />
    <script href="/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/survey">Survey</a>
      <% if(user) { %>
        <div id="login-link" class="dropdown">
          <button class="dropbtn">Hello, <%= user.name%></button>
          <div class="dropdown-content">
            <a href="/editaccount"><form method="get" action="edit/<%= user.id %>/"><button style="border: none; background-color: white;" type="submit">Edit Account</button></form></a>
            <% if (user.isadmin) { %>
              <a href="/users">Edit Users</a>
              <% } %>
            <a href="/logout">Logout</a>
          </div>
        </div>
      </div>
      <% } else { %>
      <a id="login-link" href="/login">Log In</a>
      <% } %>
    </nav>
  </body>
</html>
