<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/scss/custom.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>Home</title>
    <style>
      a:hover {
        color: rgb(129, 108, 108);
      }
    </style>
  </head>
  <style>
  </style>
  <body>
    <!-- Navigation Bar -->

    <nav class="navbar navbar-expand-lg">
      <div style="padding-left: 1rem">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="navbar-brand mx-auto">
        <img src="/logo.png" alt="Brand Logo" style="max-height: 30px" />
      </div>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" style="padding-left: 1rem">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/survey">Survey</a>
          </li>

          <% if (user) { if (user.isadmin) { %>
          <li class="nav-item">
            <a class="nav-link" href="/data">See Data</a>
          </li>
          <% } } %>
        </ul>
      </div>
      <% if(user) { %>

      <div class="account-dropdown">
        <button
          class="btn btn-link dropdown-toggle"
          type="button"
          id="accountDropdown"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          My Account
        </button>
        <div class="dropdown-menu" aria-labelledby="accountDropdown">
          <a class="dropdown-item"
            ><form method="get" action="/edit/<%= user.id %>/">
              <button
                style="border: none; background-color: white"
                type="submit"
              >
                Edit Account
              </button>
            </form></a
          >
          <% if (user.isadmin) { %>
          <a class="dropdown-item" href="/users">Edit Users</a>
          <% } %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </div>

      <% } else { %>

      <div class="account-dropdown">
        <button
          class="btn btn-link dropdown-toggle"
          type="button"
          id="accountDropdown"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <a href="/login">Login</a>
        </button>
        <div class="dropdown-menu" aria-labelledby="accountDropdown">
          <a class="dropdown-item" href="/login">Login</a>
          <a class="dropdown-item" href="/register">Register</a>
        </div>
      </div>

      <% } %>
    </nav>

    <!-- Main Area -->

    <div class="sleek-header" style="height: 40rem">
      <br>
      <br>
      <h1 class="display-3">Provo City Mental Health Awareness</h1>
      <br>
      <p class="col-sm-8 mx-auto">
        A city-wide project to find a link between social media usage and
        mental health
      </p>
      <br>
      <br>
      <br>
      <a href="/survey" class="btn btn-lg btn-primary sleek-button">Take the survey</a>
    </div>
    <br>
    <br>
    <!-- BIG IDEA -->
<div class="m-3">
    <div class="text-center mx-auto py-3 mt-3">
      <h5 style="color: rgb(91, 88, 88);">The results of our study shows that</h5>
      <h3>Increased social media use leads to higher rates of depression</h3>
    </div>
    <br>
    <div class="text-center col-sm-6 mx-auto py-3">
      <p><%= chat%></p>
    </div>
    <br>
    <br>
    <!-- Entices the user to explore the site -->

      <div style="text-align: center;">
        <h4>Explore our site</h4><br>
      </div>
      
      <div class="row justify-content-center">
        <div class="col-sm-4 mb-4">
          <div class="card">
            <a href="/dashboard" style="color: black; text-decoration: none;">
            <img src="dashboard-line-icon-vector.jpg" class="card-img-top" alt="Photo 2" />
            <div class="card-body">
                <h5 class="card-title">See Graphs</h5>
                <p class="card-text">
                  Discover the link between social media usage and mental health
                </p>
            </div>
            </a>
          </div>
        </div>

        <!-- Card with groovy background -->
        <div class="col-sm-4 mb-4">
          <div class="card groovy-background text-white">
            <div class="card-body">
              <h5 class="card-title">Mental Health Resources</h5>
              <p class="card-text">Visit the official website from the CDC about mental health</p>
              <button type="button" onclick="window.location.href='https://www.cdc.gov/mentalhealth/index.htm'" style="color: white; background-color: transparent; border: none; color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" class="btn btn-light">See More</button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>

    <div class="col-sm-6 mx-auto text-center">
        <p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
          The city of Provo has created this website aimed at raising awareness
          about the intricate relationship between mental health and social
          media usage. In an age dominated by digital connectivity, the impact
          of social media on our mental well-being is a subject of growing
          concern. The website seeks to provide valuable insights into the ways
          in which social media can influence mental health, offering resources,
          information, and support for individuals navigating the digital
          landscape. By fostering awareness and understanding, the city of Provo
          aims to empower its community to make informed choices about their
          online interactions, promoting a healthier and more mindful approach
          to social media use.
        </p>
    </div>
    <br><br><br>
  </div>
  <br>
  <br>
  <br>
  <br>
  
  <div class="position-fixed bottom-0 end-0 p-3 z-3">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
      <div class="toast-header bg-primary">
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body" class="text-secondary-emphasis">
        If you or someone you know is struggling, please reach out to the Mental Health Hotline.
        <br>
          <b><p>Hotline: 1-833-456-4566</p></b>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      $('.toast').toast('show');
    });
  </script>
    <footer class="footer">
      <div class="container">
        <p>&copy; 2023 City of Provo. All Rights Reserved.</p>
      </div>
    </footer>

    <!--Scripts for the Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
