<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script href="/js/bootstrap.bundle.js"></script>
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to the Fun World of Intex!</h1>
    <a href="/">Home</a>
    <a href="/survey">Survey</a>
    <a href="/login">Login</a>
    <% if(user.isadmin == true) { %>
    <a href="/data">See Data</a>
    <% } %> this is the home of intex

    <h1>Welcome, <%= user.name %> <%= user.isadmin%></h1>
    <p>Your password is <%= user.pass %></p>
  </body>
</html>
