<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script href="/js/bootstrap.bundle.js"></script>
    <title>Home</title>
  </head>
  <script></script>
  <body>
    <h1>Welcome to the Fun World of Intex!</h1>
    <a href="/">Home</a>
    <a href="/survey">Survey</a>
    <a href="/login">Login</a>
    <p id="user"></p>
    this is the home of intex
  </body>
</html>
