<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/scss/custom.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <!-- Navigation Bar -->

    <nav class="navbar navbar-expand-lg">
      <div style="padding-left: 1rem">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/survey">Survey</a>
          </li>

          <% if (user) { if (user.isadmin) { %>
          <li class="nav-item">
            <a class="nav-link" href="/data">See Data</a>
          </li>
          <% } } %>
        </ul>
      </div>
      <% if(user) { %>

      <div class="account-dropdown">
        <button
          class="btn btn-link dropdown-toggle"
          type="button"
          id="accountDropdown"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          My Account
        </button>
        <div class="dropdown-menu" aria-labelledby="accountDropdown">
          <a class="dropdown-item"
            ><form method="get" action="/edit/<%= user.id %>/">
              <button
                style="border: none; background-color: white"
                type="submit"
              >
                Edit Account
              </button>
            </form></a
          >
          <% if (user.isadmin) { %>
          <a class="dropdown-item" href="/users">Edit Users</a>
          <% } %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </div>

      <% } else { %>

      <div class="account-dropdown">
        <button
          class="btn btn-link dropdown-toggle"
          type="button"
          id="accountDropdown"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <a href="/login">Login</a>
        </button>
        <div class="dropdown-menu" aria-labelledby="accountDropdown">
          <a class="dropdown-item" href="/login">Login</a>
          <a class="dropdown-item" href="/register">Register</a>
        </div>
      </div>

      <% } %>
    </nav>

    <!-- Main Area -->

    <div class="sleek-header">
      <h1>Provo City Mental Health Awareness</h1>
      <p>
        We are gathering responses to find a link between social media usage and
        mental health
      </p>
      <a href="/survey" class="btn btn-primary sleek-button">Take the survey</a>
    </div>

    <div class="container mt-5">
      <div class="row flex-nowrap">
        <div class="col-md-6 mb-4">
          <div class="card">
            <img src="pic.jpg" class="card-img-top" alt="Photo 2" />
            <div class="card-body">
              <h5 class="card-title">See Graphs</h5>
              <p class="card-text">
                Discover the link between social media usage and mental health
              </p>
            </div>
          </div>
        </div>

        <!-- Card with groovy background -->
        <div class="col-md-6 mb-4">
          <div class="card groovy-background text-white">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">Some text for the groovy card.</p>
              <button type="button" class="btn btn-light">See More</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container center-container">
      <div class="sample-text half-width bg-light">
        <p>
          The city of Provo is created this website aimed at raising awareness
          about the intricate relationship between mental health and social
          media usage. In an age dominated by digital connectivity, the impact
          of social media on our mental well-being is a subject of growing
          concern. The website seeks to provide valuable insights into the ways
          in which social media can influence mental health, offering resources,
          information, and support for individuals navigating the digital
          landscape. By fostering awareness and understanding, the city of Provo
          aims to empower its community to make informed choices about their
          online interactions, promoting a healthier and more mindful approach
          to social media use.
        </p>
      </div>
    </div>

    <div class="sample-text">
      <p><%= chat%></p>
    </div>

    <!--Scripts for the Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
