<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min" />
    <script href="/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Register</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/survey">Survey</a>
      <a href="/dashboard">Dashboard</a>
      <a id="login-link" href="/login">Log In</a>
    </nav>

    <div class="main">
      <form method="post" action="/register">
        <label>Username</label>
        <input
          STYLE="text-transform:lowercase"
          type="text"
          name="username"
        /><br /><br />
        <label>Email</label>
        <input
          STYLE="text-transform:lowercase"
          type="email"
          name="email"
        /><br /><br />
        <label>Password</label>
        <input type="password" name="password" />
        <button type="submit">Register</button>
      </form>
    </div>
  </body>
</html>
