<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/scss/custom.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/bootstrap.bundle.min.js"></script>
    <title>Survey</title>
  </head>
  <body>
    <!-- Navigation Bar -->

    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#">Provo City</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/survey">Survey</a>
          </li>
          <% if (user) { if (user.isadmin) { %>
          <li class="nav-item">
            <a class="nav-link" href="/data">See Data</a>
          </li>
          <% } } %>
        </ul>
      </div>

      <% if(user) { %>

      <div class="account-dropdown">
        <button
          class="btn btn-link dropdown-toggle"
          type="button"
          id="accountDropdown"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          My Account
        </button>
        <div class="dropdown-menu" aria-labelledby="accountDropdown">
          <a class="dropdown-item" href="/editaccount"
            ><form method="get" action="edit/<%= user.id %>/">
              <button
                style="border: none; background-color: white"
                type="submit"
              >
                Edit Account
              </button>
            </form></a
          >
          <% if (user.isadmin) { %>
          <a class="dropdown-item" href="/users">Edit Users</a>
          <% } %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </div>

      <% } else { %>

      <div class="account-dropdown">
        <button
          class="btn btn-link dropdown-toggle"
          type="button"
          id="accountDropdown"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <a href="/login">Login</a>
        </button>
        <div class="dropdown-menu" aria-labelledby="accountDropdown">
          <a class="dropdown-item" href="/login">Login</a>
          <a class="dropdown-item" href="/register">Register</a>
        </div>
      </div>

      <% } %>
    </nav>

    <!-- SURVEY FORM -->

    <div class="sleek-header">
      <h1>Mental Health Survey</h1>
    </div>

    <div class="container-sm my-2">
      <form
        class="form-floating col-md-5 mx-auto my-5 needs-validation"
        id="surveyForm"
        method="post"
        action="/survey"
       novalidate>
        <!-- Question 1 -->

        <div class="form-floating form-group">
          <input
            type="number"
            class="form-control"
            id="age"
            name="age"
            min="0"
            max="130"
            placeholder="Age"
            required
          />
          <label for="age">Age</label>
          <div class="invalid-feedback">
            You must answer this question before submitting.
          </div>
        </div>

        <!-- Question 2 -->

        <div class="form-floating form-group">
          <select class="form-select" id="gender" name="gender" required>
            <option value="" disabled selected>Select an option</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="N-B">Non-Binary</option>
            <option value="Prefer not to say">Prefer Not to Say</option>
          </select>
          <label for="gender">Gender</label>
          <div class="invalid-feedback">
            You must answer this question before submitting.
          </div>
        </div>

        <!-- Question 3 -->

        <div class="form-group form-floating">
          <select
            class="form-select"
            id="relationshipStatus"
            name="relationshipStatus"
            required
          >
            <option value="" disabled selected>Select an option</option>
            <option value="single">Single</option>
            <option value="relationship">In a relationship</option>
            <option value="married">Married</option>
            <option value="divorced">Divorced</option>
          </select>
          <label for="relationshipStatus">Relationship Status</label>
          <div class="invalid-feedback">
            You must answer this question before submitting.
          </div>
        </div>

        <!-- Question 4 -->

        <div class="form-group form-floating">
          <select
            class="form-select"
            id="occupationStatus"
            name="occupationStatus"
            required
          >
            <option value="" disabled selected>Select an option</option>
            <option value="Student">Student</option>
            <option value="Salary_Worker">Salary Worker</option>
            <option value="Retired">Retired</option>
          </select>
          <label for="occupationStatus">Occupation Status</label>
          <div class="invalid-feedback">
            You must answer this question before submitting.
          </div>
        </div>

        <!-- Question 5 -->

        <div class="form-group">
          <label for="usesSocialMedia"
            >Do you use social media?</label
          >
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="usesSocialMedia"
              id="usesSocialMedia"
              value="1"
              required
            / >
            <label class="form-check-label" for="usesSocialMedia"
              >Yes</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="usesSocialMedia"
              id="usesSocialMedia"
              value="2"
            />
            <label class="form-check-label" for="usesSocialMedia"
              >No</label
            >
            <div class="invalid-feedback">
              You must answer this question before submitting.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label
            >What social media platforms do you use? Select all that
            apply</label
          >
          <br />
          <input
            type="checkbox"
            id="instagram"
            name="socialMediaPlatforms"
            value="instagram"
            class="form-check-input checkbox-group"
          />
          <label for="instagram">Instagram</label><br />
          <input
            type="checkbox"
            id="facebook"
            name="socialMediaPlatforms"
            value="facebook"
            class="form-check-input checkbox-group"

          />
          <label for="facebook">Facebook</label><br />
          <input
            type="checkbox"
            id="youtube"
            name="socialMediaPlatforms"
            value="youtube"
            class="form-check-input checkbox-group"

          />
          <label for="youtube">Youtube</label><br />
          <input
            type="checkbox"
            id="discord"
            name="socialMediaPlatforms"
            value="discord"
            class="form-check-input checkbox-group"

          />
          <label for="discord">Discord</label><br />
          <input
            type="checkbox"
            id="twitter"
            name="socialMediaPlatforms"
            value="twitter"
            class="form-check-input checkbox-group"

          />
          <label for="twitter">Twitter</label><br />

          <input
            type="checkbox"
            id="pinterest"
            name="socialMediaPlatforms"
            value="pinterest"
            class="form-check-input checkbox-group"

          />
          <label for="pinterest">Pinterest</label><br />

          <input
            type="checkbox"
            id="reddit"
            name="socialMediaPlatforms"
            value="reddit"
            class="form-check-input checkbox-group"

          />
          <label for="reddit">Reddit</label>
          <br />
          <input
            type="checkbox"
            id="snapchat"
            name="socialMediaPlatforms"
            value="snapchat"
            class="form-check-input checkbox-group"

          />
          <label for="snapchat">Snapchat</label>
          <br />
          <input
            type="checkbox"
            id="snapchat"
            name="socialMediaPlatforms"
            value="None"
          class="form-check-input checkbox-group"

          />
          <label for="snapchat">None</label>
        <div class="invalid-feedback">
          You must answer this question before submitting.
        </div>
        </div>

        <!-- Question 8 -->

        <div class="form-group">
          <label for="averageTimeOnSocialMedia"
            >What is the average time you spend on social media every
            day?</label
          >
          <select
            class="form-select"
            id="averageTimeOnSocialMedia"
            name="averageTimeOnSocialMedia" required
            required
          >
            <option value="" disabled selected>Select an option</option>
            <option value="Less than an hour">Less than an hour</option>
            <option value="Between 1 and 2 hours">Between 1 and 2 hours</option>
            <option value="Between 2 and 3 hours">Between 2 and 3 hours</option>
            <option value="Between 3 and 4 hours">Between 3 and 4 hours</option>
            <option value="Between 4 and 5 hours">Between 4 and 5 hours</option>
            <option value="More than 5 hours">More than 5 hours</option>
          </select>
          <div class="invalid-feedback">
            You must answer this question before submitting.
          </div>
        </div>
        <br />

        <!-- 1. How often do you find yourself using social media without a specific purpose? -->
        <div class="form-group">
          <label for="purposelessSocialMedia">
            1. How often do you find yourself using social media without a
            specific purpose?
          </label>
          <br />
          <br />
          <div class="form-check">
            <input class="form-check-input" type="radio" name="purposelessSocialMedia" id="purposelessSocialMedia" value="1" required>
            <label class="form-check-label" for="purposelessSocialMedia">1 - Never</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="purposelessSocialMedia"
              id="purposelessSocialMedia"
              value="2"
            />
            <label class="form-check-label" for="purposelessSocialMedia"
              >2 - Rarely</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="purposelessSocialMedia"
              id="purposelessSocialMedia"
              value="3"
              required
            />
            <label class="form-check-label" for="purposelessSocialMedia"
              >3 - Sometimes</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="purposelessSocialMedia"
              id="purposelessSocialMedia"
              value="4"
            />
            <label class="form-check-label" for="purposelessSocialMedia"
              >4 - Often</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="purposelessSocialMedia"
              id="purposelessSocialMedia"
              value="5"
            />
            <label class="form-check-label" for="purposelessSocialMedia"
              >5 - Always</label
            >
            <div class="invalid-feedback">
              You must answer this question before submitting.
            </div>
          </div>
        </div>
        <br />

        <!-- 2. How often do you get distracted by social media when you are busy doing something? -->
        <div class="form-group">
          <label for="distractedBySocialMedia">
            2. How often do you get distracted by social media when you are busy
            doing something?
          </label>
          <br />
          <br />
          <div class="form-check">
            <input class="form-check-input" type="radio" name="distractedBySocialMedia" id="distractedBySocialMedia" value="1" required>
            <label class="form-check-label" for="distractedBySocialMedia">1 - Never</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="distractedBySocialMedia"
              id="distractedBySocialMedia"
              value="2"
            />
            <label class="form-check-label" for="distractedBySocialMedia"
              >2 - Rarely</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="distractedBySocialMedia"
              id="distractedBySocialMedia"
              value="3"
              required
            />
            <label class="form-check-label" for="distractedBySocialMedia"
              >3 - Sometimes</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="distractedBySocialMedia"
              id="distractedBySocialMedia"
              value="4"
            />
            <label class="form-check-label" for="distractedBySocialMedia"
              >4 - Often</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="distractedBySocialMedia"
              id="distractedBySocialMedia"
              value="5"
            />
            <label class="form-check-label" for="distractedBySocialMedia"
              >5 - Always</label
            >
            <div class="invalid-feedback">
              You must answer this question before submitting.
            </div>
          </div>
        </div>
        <br />

        <!-- 3. How restless do you feel if you haven’t used social media in a while? -->
        <div class="form-group">
          <label for="restlessWithoutSocialMedia">
            3. How restless do you feel if you haven’t used social media in a
            while?
          </label>
          <br />
          <br />
          <div class="form-check">
            <input class="form-check-input" type="radio" name="restlessWithoutSocialMedia" id="restlessWithoutSocialMedia" value="1" required>
            <label class="form-check-label" for="restlessWithoutSocialMedia">1 - Not restless at all</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="restlessWithoutSocialMedia"
              id="restlessWithoutSocialMedia"
              value="2"
            />
            <label class="form-check-label" for="restlessWithoutSocialMedia"
              >2 - Slightly restless</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="restlessWithoutSocialMedia"
              id="restlessWithoutSocialMedia"
              value="3"
              required
            />
            <label class="form-check-label" for="restlessWithoutSocialMedia"
              >3 - Moderately restless</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="restlessWithoutSocialMedia"
              id="restlessWithoutSocialMedia"
              value="4"
            />
            <label class="form-check-label" for="restlessWithoutSocialMedia"
              >4 - Very restless</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="restlessWithoutSocialMedia"
              id="restlessWithoutSocialMedia"
              value="5"
            />
            <label class="form-check-label" for="restlessWithoutSocialMedia"
              >5 - Extremely restless</label
            >
            <div class="invalid-feedback">
              You must answer this question before submitting.
            </div>
          </div>
        </div>
        <br />

        <!-- 4. How easily distracted are you? -->
        <div class="form-group">
          <label for="easilyDistracted">
            4. How easily distracted are you?
          </label>
          <br />
          <br />
          <div class="form-check">
            <input class="form-check-input" type="radio" name="easilyDistracted" id="easilyDistracted" value="1" required>
            <label class="form-check-label" for="easilyDistracted" >1 - Not easily distracted</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="easilyDistracted"
              id="easilyDistracted"
              value="2"
            />
            <label class="form-check-label" for="easilyDistracted"
              >2 - Slightly easily distracted</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="easilyDistracted"
              id="easilyDistracted"
              value="3"
              required
            />
            <label class="form-check-label" for="easilyDistracted"
              >3 - Moderately easily distracted</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="easilyDistracted"
              id="easilyDistracted"
              value="4"
            />
            <label class="form-check-label" for="easilyDistracted"
              >4 - Very easily distracted</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="easilyDistracted"
              id="easilyDistracted"
              value="5"
            />
            <label class="form-check-label" for="easilyDistracted"
              >5 - Extremely easily distracted</label
            >
            <div class="invalid-feedback">
              You must answer this question before submitting.
            </div>
          </div>
        </div>
        <br />

        <!-- 5. How much are you bothered by worries? -->
        <div class="form-group">
          <label for="botheredByWorries">
            5. How much are you bothered by worries?
          </label>
          <br />
          <br />
          <div class="form-check">
            <input class="form-check-input" type="radio" name="botheredByWorries" id="botheredByWorries" value="1" required>
            <label class="form-check-label" for="botheredByWorries">1 - Not bothered</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="botheredByWorries"
              id="botheredByWorries"
              value="2"
            />
            <label class="form-check-label" for="botheredByWorries"
              >2 - Slightly bothered</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="botheredByWorries"
              id="botheredByWorries"
              value="3"
              required
            />
            <label class="form-check-label" for="botheredByWorries"
              >3 - Moderately bothered</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="botheredByWorries"
              id="botheredByWorries"
              value="4"
            />
            <label class="form-check-label" for="botheredByWorries"
              >4 - Very bothered</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="botheredByWorries"
              id="botheredByWorries"
              value="5"
            />
            <label class="form-check-label" for="botheredByWorries"
              >5 - Extremely bothered</label
            >
            <div class="invalid-feedback">
              You must answer this question before submitting.
            </div>
          </div>
        </div>
        <br />

        <!-- 6. How often do you find it difficult to concentrate on things? -->
        <div class="form-group">
          <label for="difficultToConcentrate">
            6. How often do you find it difficult to concentrate on things?
          </label>
          <br />
          <br />
          <div class="form-check">
            <input class="form-check-input" type="radio" name="difficultToConcentrate" id="difficultToConcentrate" value="1" required>
            <label class="form-check-label" for="difficultToConcentrate" >1 - Never</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="difficultToConcentrate"
              id="difficultToConcentrate"
              value="2"
            />
            <label class="form-check-label" for="difficultToConcentrate"
              >2 - Rarely</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="difficultToConcentrate"
              id="difficultToConcentrate"
              value="3"
              required
            />
            <label class="form-check-label" for="difficultToConcentrate"
              >3 - Sometimes</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="difficultToConcentrate"
              id="difficultToConcentrate"
              value="4"
            />
            <label class="form-check-label" for="difficultToConcentrate"
              >4 - Often</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="difficultToConcentrate"
              id="difficultToConcentrate"
              value="5"
            />
            <label class="form-check-label" for="difficultToConcentrate"
              >5 - Always</label
            >
            <div class="invalid-feedback">
              You must answer this question before submitting.
            </div>
          </div>
        </div>
        <br />

        <!-- 7. How often do you compare yourself to other successful people through the use of social media? -->
        <div class="form-group">
          <label for="compareToOthersOnSocialMedia">
            7. How often do you compare yourself to other successful people
            through the use of social media?
          </label>
          <br />
          <br />
          <div class="form-check">
            <input class="form-check-input" type="radio" name="compareToOthersOnSocialMedia" id="compareToOthersOnSocialMedia" value="1" required>
            <label class="form-check-label" for="compareToOthersOnSocialMedia" >1 - Never</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="compareToOthersOnSocialMedia"
              id="compareToOthersOnSocialMedia"
              value="2"
            />
            <label class="form-check-label" for="compareToOthersOnSocialMedia"
              >2 - Rarely</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="compareToOthersOnSocialMedia"
              id="compareToOthersOnSocialMedia"
              value="3"
              required
            />
            <label class="form-check-label" for="compareToOthersOnSocialMedia"
              >3 - Sometimes</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="compareToOthersOnSocialMedia"
              id="compareToOthersOnSocialMedia"
              value="4"
            />
            <label class="form-check-label" for="compareToOthersOnSocialMedia"
              >4 - Often</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="compareToOthersOnSocialMedia"
              id="compareToOthersOnSocialMedia"
              value="5"
            />
            <label class="form-check-label" for="compareToOthersOnSocialMedia"
              >5 - Always</label
            >
            <div class="invalid-feedback">
              You must answer this question before submitting.
            </div>
          </div>
        </div>
        <br />

        <!-- 8. Following the previous question, how do you feel about these comparisons, generally speaking? -->
        <div class="form-group">
          <label for="feelingsAboutSocialMediaComparisons">
            8. Following the previous question, how do you feel about these
            comparisons, generally speaking?
          </label>
          <br />
          <br />
          <div class="form-check">
            <input class="form-check-input" type="radio" name="feelingsAboutSocialMediaComparisons" id="feelingsAboutSocialMediaComparisons" value="1" required>
            <label class="form-check-label" for="feelingsAboutSocialMediaComparisons" >1 - Very Good</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="feelingsAboutSocialMediaComparisons"
              id="feelingsAboutSocialMediaComparisons"
              value="2"
            />
            <label
              class="form-check-label"
              for="feelingsAboutSocialMediaComparisons"
              >2 - Good</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="feelingsAboutSocialMediaComparisons"
              id="feelingsAboutSocialMediaComparisons"
              value="3"
              required
            />
            <label
              class="form-check-label"
              for="feelingsAboutSocialMediaComparisons"
              >3 - Neutral</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="feelingsAboutSocialMediaComparisons"
              id="feelingsAboutSocialMediaComparisons"
              value="4"
            />
            <label
              class="form-check-label"
              for="feelingsAboutSocialMediaComparisons"
              >4 - Bad</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="feelingsAboutSocialMediaComparisons"
              id="feelingsAboutSocialMediaComparisons"
              value="5"
            />
            <label
              class="form-check-label"
              for="feelingsAboutSocialMediaComparisons"
              >5 - Very Bad</label
            >
            <div class="invalid-feedback">
              You must answer this question before submitting.
            </div>
          </div>
        </div>
        <br />

        <!-- 9. How often do you look to seek validation from features of social media? -->
        <div class="form-group">
          <label for="seekValidationOnSocialMedia">
            9. How often do you look to seek validation from social media?
          </label>
          <br />
          <br />
          <div class="form-check">
            <input class="form-check-input" type="radio" name="seekValidationOnSocialMedia" id="seekValidationOnSocialMedia" value="1" required>
            <label class="form-check-label" for="seekValidationOnSocialMedia" >1 - Never</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="seekValidationOnSocialMedia"
              id="seekValidationOnSocialMedia"
              value="2"
            />
            <label class="form-check-label" for="seekValidationOnSocialMedia"
              >2 - Rarely</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="seekValidationOnSocialMedia"
              id="seekValidationOnSocialMedia"
              value="3"
              required
            />
            <label class="form-check-label" for="seekValidationOnSocialMedia"
              >3 - Sometimes</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="seekValidationOnSocialMedia"
              id="seekValidationOnSocialMedia"
              value="4"
            />
            <label class="form-check-label" for="seekValidationOnSocialMedia"
              >4 - Often</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="seekValidationOnSocialMedia"
              id="seekValidationOnSocialMedia"
              value="5"
            />
            <label class="form-check-label" for="seekValidationOnSocialMedia"
              >5 - Always</label
            >
            <div class="invalid-feedback">
              You must answer this question before submitting.
            </div>
          </div>
        </div>
        <br />

        <!-- 10. How often do you feel depressed or down? -->
        <div class="form-group">
          <label for="feelDepressedOrDown">
            10. How often do you feel depressed or down?
          </label>
          <br />
          <br />
          <div class="form-check">
            <input class="form-check-input" type="radio" name="feelDepressedOrDown" id="feelDepressedOrDown" value="1" required>
            <label class="form-check-label" for="feelDepressedOrDown" >1 - Never</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="feelDepressedOrDown"
              id="feelDepressedOrDown"
              value="2"
            />
            <label class="form-check-label" for="feelDepressedOrDown"
              >2 - Rarely</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="feelDepressedOrDown"
              id="feelDepressedOrDown"
              value="3"
              required
            />
            <label class="form-check-label" for="feelDepressedOrDown"
              >3 - Sometimes</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="feelDepressedOrDown"
              id="feelDepressedOrDown"
              value="4"
            />
            <label class="form-check-label" for="feelDepressedOrDown"
              >4 - Often</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="feelDepressedOrDown"
              id="feelDepressedOrDown"
              value="5"
            />
            <label class="form-check-label" for="feelDepressedOrDown"
              >5 - Always</label
            >
            <div class="invalid-feedback">
              You must answer this question before submitting.
            </div>
          </div>
        </div>
        <br />

        <!-- 11. How frequently does your interested in daily activities fluctuate? -->
        <div class="form-group">
          <label for="interestFluctuation">
            11. How frequently does your interest in daily activities fluctuate?
          </label>
          <br />
          <br />
          <div class="form-check">
            <input class="form-check-input" type="radio" name="interestFluctuation" id="interestFluctuation" value="1" required>
            <label class="form-check-label" for="interestFluctuation" >1 - Never</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="interestFluctuation"
              id="interestFluctuation"
              value="2"
            />
            <label class="form-check-label" for="interestFluctuation"
              >2 - Rarely</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="interestFluctuation"
              id="interestFluctuation"
              value="3"
              required
            />
            <label class="form-check-label" for="interestFluctuation"
              >3 - Sometimes</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="interestFluctuation"
              id="interestFluctuation"
              value="4"
            />
            <label class="form-check-label" for="interestFluctuation"
              >4 - Often</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="interestFluctuation"
              id="interestFluctuation"
              value="5"
            />
            <label class="form-check-label" for="interestFluctuation"
              >5 - Always</label
            >
            <div class="invalid-feedback">
              You must answer this question before submitting.
            </div>
          </div>
        </div>
        <br />

        <!-- 12. How often do you face issues regarding sleep? -->
        <div class="form-group">
          <label for="sleepIssues">
            12. How often do you face issues regarding sleep?
          </label>
          <br />
          <br />
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sleepIssues" id="sleepIssues" value="1" required>
            <label class="form-check-label" for="sleepIssues" >1 - Never</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="sleepIssues"
              id="sleepIssues"
              value="2"
            />
            <label class="form-check-label" for="sleepIssues">2 - Rarely</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="sleepIssues"
              id="sleepIssues"
              value="3"
              required
            />
            <label class="form-check-label" for="sleepIssues"
              >3 - Sometimes</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="sleepIssues"
              id="sleepIssues"
              value="4"
            />
            <label class="form-check-label" for="sleepIssues">4 - Often</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="sleepIssues"
              id="sleepIssues"
              value="5"
            />
            <label class="form-check-label" for="sleepIssues">5 - Always</label>
            <div class="invalid-feedback">
              You must answer this question before submitting.
            </div>
          </div>
        </div>
        <br />

        <!-- End Survey Questions -->

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <!--Scripts for the Bootstrap-->
    <script>
      (() => {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          if ($('.checkbox-group:checked').length < 1) {
            event.preventDefault(); // Prevent form submission
          }

          form.classList.add('was-validated')
        }, false)
      })
    })()
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
