<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Survey</title>
  </head>
  <body>
    <div>
      <a href="/">Home</a>
      <a href="/survey">Survey</a>
      <a href="/login">Login</a>
    </div>

    <form>
      <label for="age">Age:</label><br />
      <input type="text" id="age" name="age" /><br />

      <label for="gender">Gender:</label><br />
      <select id="gender" name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option></select
      ><br />

      <label for="relationshipStatus">Relationship Status:</label><br />
      <input
        type="text"
        id="relationshipStatus"
        name="relationshipStatus"
      /><br />

      <label for="occupationStatus">Occupation Status:</label><br />
      <input type="text" id="occupationStatus" name="occupationStatus" /><br />

      <label for="affiliatedOrganizations">Affiliated Organizations:</label
      ><br />
      <input
        type="text"
        id="affiliatedOrganizations"
        name="affiliatedOrganizations"
      /><br />

      <label for="useSocialMedia">Do you use social media?</label><br />
      <select id="useSocialMedia" name="useSocialMedia">
        <option value="yes">Yes</option>
        <option value="no">No</option></select
      ><br />

      <label for="socialMediaPlatforms"
        >What social media platforms do you commonly use?</label
      ><br />
      <input
        type="text"
        id="socialMediaPlatforms"
        name="socialMediaPlatforms"
      /><br />

      <label for="averageTimeOnSocialMedia"
        >What is the average time you spend on social media every day?</label
      ><br />
      <input
        type="text"
        id="averageTimeOnSocialMedia"
        name="averageTimeOnSocialMedia"
      /><br />

      <label for="purposelessSocialMedia"
        >How often do you find yourself using social media without a specific
        purpose?</label
      ><br />
      <select id="purposelessSocialMedia" name="purposelessSocialMedia">
        <option value="rarely">Rarely</option>
        <option value="occasionally">Occasionally</option>
        <option value="frequently">Frequently</option>
        <option value="always">Always</option></select
      ><br />

      <label for="distractedBySocialMedia"
        >How often do you get distracted by social media when you are busy doing
        something?</label
      ><br />
      <select id="distractedBySocialMedia" name="distractedBySocialMedia">
        <option value="rarely">Rarely</option>
        <option value="occasionally">Occasionally</option>
        <option value="frequently">Frequently</option>
        <option value="always">Always</option></select
      ><br />

      <label for="restlessWithoutSocialMedia"
        >Do you feel restless if you haven’t used social media in a
        while?</label
      ><br />
      <select id="restlessWithoutSocialMedia" name="restlessWithoutSocialMedia">
        <option value="yes">Yes</option>
        <option value="no">No</option></select
      ><br />

      <label for="easilyDistracted">How easily distracted are you?</label><br />
      <select id="easilyDistracted" name="easilyDistracted">
        <option value="notAtAll">Not at all</option>
        <option value="slightly">Slightly</option>
        <option value="moderately">Moderately</option>
        <option value="very">Very</option>
        <option value="extremely">Extremely</option></select
      ><br />

      <label for="botheredByWorries"
        >How much are you bothered by worries?</label
      ><br />
      <select id="botheredByWorries" name="botheredByWorries">
        <option value="notAtAll">Not at all</option>
        <option value="slightly">Slightly</option>
        <option value="moderately">Moderately</option>
        <option value="very">Very</option>
        <option value="extremely">Extremely</option></select
      ><br />

      <label for="difficultToConcentrate"
        >Do you find it difficult to concentrate on things?</label
      ><br />
      <select id="difficultToConcentrate" name="difficultToConcentrate">
        <option value="rarely">Rarely</option>
        <option value="occasionally">Occasionally</option>
        <option value="frequently">Frequently</option>
        <option value="always">Always</option></select
      ><br />

      <label for="compareToOthersOnSocialMedia"
        >How often do you compare yourself to other successful people through
        the use of social media?</label
      ><br />
      <select
        id="compareToOthersOnSocialMedia"
        name="compareToOthersOnSocialMedia"
      >
        <br />
        <option value="rarely">Rarely</option>
        <option value="occasionally">Occasionally</option>
        <option value="frequently">Frequently</option>
        <option value="always">Always</option></select
      ><br />

      <label for="feelingsAboutSocialMediaComparisons"
        >Following the previous question, how do you feel about these
        comparisons, generally speaking?</label
      ><br />
      <input
        type="text"
        id="feelingsAboutSocialMediaComparisons"
        name="feelingsAboutSocialMediaComparisons"
      /><br />

      <label for="seekValidationOnSocialMedia"
        >How often do you look to seek validation from features of social
        media?</label
      ><br />
      <select
        id="seekValidationOnSocialMedia"
        name="seekValidationOnSocialMedia"
      >
        <br />
        <option value="rarely">Rarely</option>
        <option value="occasionally">Occasionally</option>
        <option value="frequently">Frequently</option>
        <option value="always">Always</option></select
      ><br />

      <label for="feelDepressedOrDown"
        >How often do you feel depressed or down?</label
      ><br />
      <select id="feelDepressedOrDown" name="feelDepressedOrDown">
        <option value="rarely">Rarely</option>
        <option value="occasionally">Occasionally</option>
        <option value="frequently">Frequently</option>
        <option value="always">Always</option></select
      ><br />

      <label for="interestFluctuation"
        >How frequently does your interest in daily activities fluctuate?</label
      ><br />
      <select id="interestFluctuation" name="interestFluctuation">
        <option value="rarely">Rarely</option>
        <option value="occasionally">Occasionally</option>
        <option value="frequently">Frequently</option>
        <option value="always">Always</option></select
      ><br />

      <label for="sleepIssues"
        >How often do you face issues regarding sleep?</label
      ><br />
      <select id="sleepIssues" name="sleepIssues">
        <option value="rarely">Rarely</option>
        <option value="occasionally">Occasionally</option>
        <option value="frequently">Frequently</option>
        <option value="always">Always</option></select
      ><br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
