/* styles.css */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav {
  display: flex;
  justify-content: space-between; /* Distribute items along the main axis, pushing them to the start and end */
  align-items: center; /* Center items along the cross axis */
  background-color: #333;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  font-weight: bold;
}

nav a:hover {
  color: #ffcc00;
}

#login-link {
  margin-left: auto; /* Push the login link to the right by consuming all available space */
}

.main {
  padding: 1rem;
}
